{% extends "base.html" %}

{% block content %}


<h1>POPISI DEL</h1>

{% load static %}
<img src="{% static 'images/fantje.jpg' %}" alt="Slika" style="width:630px;height:300px;"/>

  <p><em> " Delaj to, v kar verjameš, in verjemi v to, kar počneš. Vse drugo je tratenje energije in časa " </em></p>

<h2>KNJIŽNICA</h2>

  <p>Vstop : </p>
  <ul>
    <li><strong><a href="{% url 'postavka-list' %}"> Postavke: </a></strong> {{ stej_postavka }}</li>
    <li><strong><a href="{% url 'specifikacija-list' %}"> Specifikacija: </a></strong> {{ stej_specifikacija }}</li>
    <li><strong><a href="/popisi/dela/"> Dela: </a></strong> {{ stej_dela }}</li>

    <li><strong><a href="/popisi/vrsta_del/"> Vrsta Del: </a></strong> {% autoescape on %}{{ stej_vrstadel }}{% endautoescape %}</li>


  </ul>

<p>Stran so obiskali {{ stej_obisk }}{% if stej_obisk == 1 %} prvič{% else %} krat{% endif %}.</p>

{% endblock %}
