{% extends "base.html" %}

{% block content %}
  <h1>MERILO PODROBNOSTI: {{ object.tekst }}</h1>
  <!-- lahko uporabimo object.tekst -->

<!-- namesto izhodisce sem uporabil get_izhodisce_display. To je django funkcija za prikaz choices -->
<h4>Izhodišče : {{ object.get_izhodisce_display }}</h4>
<!-- namesto podrocje sem uporabil get_podrocje_display. To je django funkcija za prikaz choices -->
<h4>Področje :{{ merilo.podlagamerila.predmetmerila.get_podrocje_display }}</h4>


<h2>Predmet :{{ object.podlagamerila.predmetmerila.tekst }}</h2>

<h2>Podlaga :{{ object.podlagameriala.tekst }}</h2>


<h4>Komentar:</h4>
   <p>{{ object.podlagamerila.komentar }}</p>


{% for podrobnost in object.podrobnost_set.all %}
<!-- lahko uporabimo object.podrobnost_set.all -->
<li>
    {{ podrobnost.tekst }}
</li>
{% endfor %}


{% endblock %}
