{% extends "base.html" %}

{% block content %}

    <h1>SEZNAM MERIL</h1>

    <ul>

      {% regroup object_list by merilo_osnova as pikapoka %}
      {% for tone in pikapoka %}
      <b>{{ tone.grouper }}</b><br>
      <ul>
      {% regroup tone.list by merilo_skupina1 as pikapoka %}
      {% for tone in pikapoka %}
      <b>{{ tone.grouper }}</b><br>
      </ul>

      {% for merilo in tone.list %}
      <ul><ul>
      <li>
        <a href="{% url 'merilo-detail' merilo.pk %}">{{ merilo.opis }}</a>
      </ul></ul>
      </li>
      {% endfor %}
      {% endfor %}


      {% endfor %}
    </ul>

{% endblock %}
