 {% extends "base.html" %}

{% block content %}

<h1>Strokovne podlage - Seznam</h1>

<!--  grupiramo list po  vrsta del -->
{% regroup object_list by predmet_merila.dela.vrsta_del as podlage %}
{% for vrsta_del in podlage %}
<b>{{ vrsta_del.grouper.tekst }}</b><br>

<ul>
  <!-- grupiramo list po  dela -->
  {% regroup vrsta_del.list by predmet_merila.dela as podlage %}
  {% for dela in podlage %}
  <li><b>{{ dela.grouper.tekst }}</b><br></li>

  <ul>
      <!-- grupiramo list po  predmetu merila -->
      {% regroup dela.list by predmet_merila as podlage %}
      {% for predmet in podlage %}
      <li><b>{{ predmet.grouper.tekst }}</b><br></li>

      <ul>
          <!-- grupiramo list po tekstu podlage merila -->
          <p>
          {% regroup predmet.list by tekst as podlage %}
          {% for tekst in podlage %}
          <li>{{ tekst.grouper }}</li>
          </p>

          <ul>
          <!-- izpisi, ki pripadajo  podlagi merila -->
          {% for podlaga in tekst.list %}
          <p>Komentar: {{podlaga.komentar}}</p>
          <p>Zahteve : {{podlaga.get_izhodisce_display}}</p>


          <!-- Dokumetnacija -->
          <p> Dokumentacija :
          {% for d in podlaga.dokumentacija.all %}
          <a href="{% url 'dokumentacija-detail' d.pk %}">{{ d.tekst }}</a>
          {% endfor %}
          </p>

          <!-- Slike -->
          <p> Slike :
          {% for s in podlaga.slika.all %}
          <a href="{% url 'slika-detail' s.pk %}">{{ s.tekst }}</a>
          {% endfor %}
          </p>
              <ul>
              <!-- Merila -->
              {% for m in podlaga.merilo_set.all %}
              <li>Merilo :{{ m.tekst}} </li>

                  <ul>
                  <!-- Podrobnost -->
                  {% for p in m.podrobnost_set.all %}
                  <li> Podrobnost :{{ p.tekst}} </li>
                  {% endfor %}
                  </ul>
          <!-- komentar, zahteve -->
          {% endfor %}
          </ul>
        <!-- tekst podlage merila?????? -->
        {% endfor %}
        </ul>
      <!-- podlaga_merila tekst -->
      {% endfor %}
      </ul>
    <!-- predmet_merila -->
    {% endfor %}
  </ul>
  <!-- dela -->
  {% endfor %}
</ul>
<!-- vrsta_del -->
{% endfor %}

{% endblock %}
