{% extends "base.html" %}

{% block content %}

<h4>Področje predmeta podlage :</h4>
  <li>
    <!-- namesto podrocje sem uporabil get_podrocje_display. To je django funkcija za prikaz choices -->
    {{ object.predmet_merila.get_podrocje_display }}
  </li>


  <h1>PODLAGA PODROBNOSTI:</h1>
    <li>
      <h2>{{ object.tekst }}</h2>
   </li>
  <!-- lahko uporabimo object.opis -->

<h6>Komentar : {{ object.komentar }}</h6>

<h4>Dokumentacija : </h4>

{% for dokument in object.dokumentacija.all %}

<p>Tekst :{{dokument.tekst}},</p>
<p>Naslov :{{dokument.naslov}},</p>
<p>Zvrst :{{dokument.zvrst}},</p>
<p>File : {% for datoteka in dokument.datoteka.all %}{{datoteka.datoteka}}{% endfor %}</p>

<p>Slike :
    {% for slika in dokument.image.all %}
    <a href="{{ MEDIA_URL }}{{ slika.id }}"> {{ slika.image }}</a>
    {% endfor %}
</p>

{% for datoteka in dokument.datoteka.all %}
<p>File :{{datoteka.id}}</p>
{% endfor %}

{% endfor %}

{%comment%}
    <a href="{{ MEDIA_URL }}{{ dokument.image }}"> {{ slika.image }}</a>
{%endcomment%}


<h4>Predmet Podlage :</h4>
  <li>
    <p>{{ podlaga.predmet.opis }}</p>
  </li>


{% for merilo in podlaga.merilo_set.all %}
<!-- lahko uporabimo object.podrobnost_set.all -->
<h4>Merilo podlage:</h4>

    <li>
        {{ merilo.opis }}

        <h4>Podrobnost:</h4>

        <li>
          {% for podrobnost in merilo.podrobnost_set.all %}
              {{ podrobnost.opis }}
          {% endfor %}
        </li>

    </li>
{% endfor %}


{% endblock %}
