{% extends "base.html" %}

{% block content %}


It is {% now "jS F Y H:i" %}
    <h1></h1>

    {% if object_list %}
    <ul>



      {% for podrobnost in object_list %}

      <a href="{% url 'podrobnost-detail' podrobnost.pk %}">{{ podrobnost.opis}}</a>{{podrobnost.id}}{{podrobnost.komentar}}

      {% endfor %}


    </ul>

    {% else %}
      <p>Tukaj nič novega.</p>
    {% endif %}
{% endblock %}








{% comment %}
<p class="{% cycle 'odd' 'even' %}">{{ podrobnost.opis}},{{ podrobnost.komentar}}</p>
{% endcomment %}


{% comment %}
{% for o in some_list %}
    <tr class="{% cycle 'row1' 'row2' %}">
        ...
    </tr>
{% endfor %}

{% endcomment %}
