{% extends "base.html" %}

{% block content %}

<h1>Podrobnosti seznam</h1>

{% regroup object_list by get_tip_display as po_tipu %}

<ul>
    {% for tip in po_tipu %}
    <li><h2>{{ tip.grouper }}</h2></li>
    <ul>
        {% regroup tip.list by merilo.podlaga_merila.predmet_merila as po_predmetu %}
        {% for predmet in po_predmetu %}
        <li><h4>Predmet :{{ predmet.grouper }}</h4></li>
        <ul>
            {% regroup predmet.list by merilo.podlaga_merila as po_podlagi_merila %}
            {% for podlaga in po_podlagi_merila %}
            <li><h5>Podlaga :{{ podlaga.grouper }}</h5></li>
            <ul>
                {% for podrobnost in podlaga.list %}
                <li><a href="{% url 'podrobnost-detail' podrobnost.pk %}">{{ podrobnost.tekst }}, {{ podrobnost.tekst_za_popis }} </a></li>
                {% endfor %}
            </ul>
            {% endfor %}
        </ul>
        {% endfor %}
    </ul>
    {% endfor %}
</ul>

{% endblock %}
