{% extends "base.html" %}

{% block content %}

    <h1></h1>

    {% if object_list %}
    <ul>

      {% for predmet in object_list %}
      <!-- lahko uporabimo predmet_list -->
      <li>
        <!-- <a href="{{ predmet.get_absolute_url }}">{{ predmet.opis }}</a> lahko uporabimo tudi to-->
        <a href="{% url 'predmet-detail' podrobnost.pk %}">{{ predmet.opis }}</a>
        <!-- <a href="/podrobnosti/predmet/{{ predmet.id }}">{{ predmet.opis }}</a> tudi to deluje -->

      </li>
      {% endfor %}

    </ul>
    {% else %}
      <p>Tukaj nič novega.</p>
    {% endif %}
{% endblock %}
