 {% extends "base.html" %}

{% block content %}

<h1>Strokovne podlage - Seznam</h1>

<!--  grupiramo list po  tip specifikacije (popis,dolocilo) -->
{% regroup object_list by tip as podlage %}
{% for tip in podlage %}
<li><h2>{{ tip.grouper }}</h2></li>

<ul>
    <!--  grupiramo list po  vrsta del -->
    {% regroup tip.list by poglavje.dela.vrsta_del as podlage %}
    {% for vrsta_del in podlage %}
    <li><h3>{{ vrsta_del.grouper }}</h3></li>
    <ul>
        <!--  grupiramo list po  dela -->
        {% regroup vrsta_del.list by poglavje.dela as podlage %}
        {% for dela in podlage %}
        <li><h3>{{ dela.grouper }}</h3></li>
        <ul>
            <!--  grupiramo list po  poglavje -->
            {% regroup dela.list by poglavje as podlage %}
            {% for poglavje in podlage %}
            <li><h3>{{ poglavje.grouper }}</h3></li>
            <ul>
                <!--  listamo specifikacije -->
                {% for specifikacija in poglavje.list %}
                <li><h3>{{ specifikacija.tekst }},</h3>{{specifikacija.komentar}}</li>
                <ul>
                    <!--  znotraj specifikacij listamo podskupine specifikacij -->
                    {% for podskupina in specifikacija.podskupina_set.all %}
                    <li>{{ podskupina.tekst }}</li>
                    <ul>
                        <!--  znotraj poskupi specifikacij listamo podrobnosti -->
                        {% for podrobnost in podskupina.podrobnost_set.all %}
                        <li>{{ podrobnost.tekst }}</li>
                        {% endfor %}
                    </ul>
                    {% endfor %}
                </ul>
                {% endfor %}
            </ul>
            {% endfor %}
        </ul>
        {% endfor %}
    </ul>
    {% endfor %}
</ul>
{% endfor %}

{% endblock %}
