{% extends "base.html" %}

{% block content %}

    <h1></h1>
    <ul>
        <!-- seznam popisnih postavk in dolocil -->
        {% for popisnapostavka in object_list %}
            <li><b>{{popisnapostavka.postavka.tekst}}</b></li>
            <!--regrupiramo podrobnosti popisnih postavk po segment.tekst_za_popis
            , ker zelimo prilagoditi tekst izpisa uveljavljenemu nacinu za "stopnje izpostavljenosti " -->
            {% regroup popisnapostavka.podrobnost.all by odsek.tekst_za_popis as podlage %}
            {% for podrobnost in podlage %}
            {{ podrobnost.grouper}}
                <!-- zlistamo podrobnosti znotraj regroupa -->
                {% for podrobnost in podrobnost.list %}

                        <!-- zlistamo pa tako, da izpis locimo za popis od dolocil,
                        ker imajo dolocila tekst v tekst_za_popis, popisi pa v polju tekst -->
                        {% if podrobnost.tekst_za_popis %}
                        {{podrobnost.tekst_za_popis}},
                        {% else %}
                        <b>{{podrobnost.tekst}},</b>
                        {% endif %}

                {% endfor %}
            {% endfor %}
        {% endfor %}
    </ul>

{% endblock %}
